/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center
               h-12 w-12 mt-2 mb-2 mx-auto bg-red-800 text-white
               hover:bg-red-600 hover:text-white rounded-3xl hover:rounded-xl
               transition-all duration-300 ease-linear cursor-pointer;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md
             text-white bg-gray-900 
               text-xs font-bold 
               transition-all duration-100 scale-0 origin-left;
  }

  .th {
    @apply sticky top-0 z-0 bg-gray-400;
  }

  .searchInputs {
    @apply flex;
  }

  .input {
    @apply bg-white border-0 rounded-md text-lg p-4 h-10 w-full focus:outline-none shadow-md;
  }

  .title {
    @apply font-extrabold text-red-900 text-4xl m-5;
  }

  .select {
    @apply border-0 rounded-md text-lg pl-3 h-10 w-full focus:outline-none shadow-md;
  }

  .button {
    @apply bg-red-500 hover:bg-red-400 
        text-white font-bold py-2 px-4 border-b-4 border-red-700 
        hover:border-red-500 rounded w-full mt-6;
  }

  .dataResult {
    @apply mt-1 w-3/4 max-h-52 bg-white shadow-xl overflow-hidden overflow-y-auto;
  }

  .dataResult::-webkit-scrollbar {
    @apply hidden;
  }

  .dataItem {
    @apply w-full h-12 flex items-center text-black hover:bg-gray-200 cursor-pointer;
  }

  .dataItem p {
    @apply ml-3;
  }

  .modalOverlay {
    @apply fixed top-0 left-0 right-0 bottom-0 z-50 bg-gradient-to-r from-red-600 to-purple-900 opacity-40;
  }

  .modal {
    @apply fixed top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] transition-transform z-[51]
                w-full max-w-md bg-gradient-to-b from-gray-100 to-green-100 rounded-2xl p-6;
  }
}
