# Members of group 27
Erik Salvesen <eriksalv@stud.ntnu.no> <erik.salvesen@hotmail.no>
Simeon Christoffersen <simeonc@stud.ntnu.no>
Anna Østmo <annaost@stud.ntnu.no>
Herman Håberg Seternes <hermahs@stud.ntnu.no>
