.tab *.tab-label {
    -fx-rotate: 90;
}

.tab {
    -fx-padding: 3em 0.5em 3em 0.5em;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color:#ACBEFF4F; 
}

.tab-pane
{
    -fx-tab-min-width:80px;
}

.tab-pane .tab
{
    -fx-background-color: #ACBEFF4F;
}

.tab-pane .tab:selected
{
    -fx-background-color: white;
}

.tab *.tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: black;
    -fx-font-size: 10px;
    -fx-font-weight: bold;
}

.tab:selected *.tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill:black;
}

.tab-pane:top *.tab-header-area {
    -fx-padding: 0; 
}

.tab-pane:bottom *.tab-header-area {
    -fx-padding: 0;
}

.tab-pane:left *.tab-header-area {
    -fx-padding: 0;
}

.tab-pane:right *.tab-header-area {
    -fx-padding: 0;
}


